/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #F5F5DC;
}

body {
    min-height: 100vh;
    background-image: url(Meteor.png);
    background-size: cover;
    backdrop-filter: blur(10px);
}


/* Navigation Bar */
.navBar {
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: #00707fbe;
}

.navBrand a img {
    width: 22px;
    margin: 0px 4px;
}

.navBrand a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(30, 25, 25, 0.65);
}

.navBrand a span {
    color: #96c6e8;

}

.navLinksContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    min-width: 35%;

}

.navLinksContainer li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
}

.navLinksContainer li a:hover {
    color: #96c6e8;
}

.navLinksContainer li a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #96c6e8;
    border-radius: 1px;
    transform: scaleX(0%);
    transition: all .5s;
}

.navLinksContainer li a:hover::before {
    transform: scaleX(100%);
    transform-origin: center;
}

.btn {
    border: none;
    outline: none;
    padding: 9px 12px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #96c6e8;
    box-shadow: 1px 1px 2px rgba(30, 25, 25, 0.65), 1px 1px 2px rgba(30, 25, 25, 0.65);
    transition: all .3s;
}

.btn:hover {
    background: #00717f;
    color: #fff;
}

.navToggle {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: none;
}

.navToggle img {
    width: 70%;
    filter: invert(100%);
}

/* Home Section */
#home {
    min-height: 90vh;
    color: #F5F5DC;
    display: flex;
    padding: 0% 2%;
    align-items: flex-end;
}

.homeContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 28% 70%;
    grid-template-rows: calc(100vh - 100px);
    grid-column-gap: 10px;
}

.homeContent {
    padding: 0% 4%;
    color: #fff;
    height: 360px;
}

.homeContent span {
    color: #96c6e8;
    font-weight: 700;

}

.homeContent p {
    line-height: 1.4rem;
}

.profileContainer img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    text-align: center;
}


#projects h1 span {
    color: #96c6e8;
}

.gallery-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.gallery-wrapper .gallery {
    position: relative;
    display: flex;
    gap: 5px;
    width: 400px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow: hidden;

}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper .gallery span {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    scroll-snap-align: center;
    position: relative;
}

.projectDetail {
    font-size: .8rem;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 6%;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: #005e618a;
    color: #F5F5DC;
    text-align: start;
    overflow: hidden;
    transition: all .7s;
    cursor: pointer;
}

.porjectCategory {
    font-family: 'Roboto Flex', sans-serif;
    position: relative;
    bottom: 8px;
    font-size: .8rem;
}

.projectDetail span {
    color: #96c6e8;
}

.gallery-wrapper .gallery span:hover .projectDetail {
    top: 0;
}

.projectDetail::-webkit-scrollbar {
    display: none;
}


.gallery-wrapper .gallery span img {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

#nextBtn,
#backBtn {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* testimonial section */

#testimonials {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.testimonialMainTitle {
    text-align: center;
}

#testimonials h1 span {
    color: #96c6e8;
}

.testimonialContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    min-height:60%;
}

.testimonialItemContainer {
    display: flex;
    justify-content: center;
    overflow: scroll;
    min-width: 180px;
    max-width: 600px;
    scroll-snap-type: x mandatory;
}

.testimonialItem {
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
    flex: 0 0 100%;
    scroll-snap-align: center;
    padding: 2%;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: #00707fbe;

}

.testimonialHeader img {
    width: 90px;
}

.previousBtn,
.forwardBtn {
    cursor: pointer;
}


.testimonialItemContainer::-webkit-scrollbar {
    display: none;
}

.ratings span {
    font-weight: 600;
}

.purchaseDetail {
    font-weight: 600;
    text-decoration: underline;
}


/* contact section */
#contact {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contactMeHeader {
    color: #F5F5DC;
}

.contactMeHeader h1 span {
    color: #96c6e8;
}

.contactMeHeader a {
    color: #F5F5DC;
    margin: 10px 0px;
}

.contactItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;

}

.contactItems img {
    width: 24px;
}




/* jjjjj */
.formContainer {
    /* border: 2px solid white; */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2%;
}

.formItem {
    flex: 0 0 46%;
}

.leftForm {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 4px solid green; */
    flex-direction: column;
    gap: 30px;
}

.leftForm input {
    width: 60%;
    padding: 5px 12px;
    height: 44px;
    border: none;
    outline: none;
    color: #F5F5DC;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: #00707fbe;
}

.rightForm {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rightForm textarea {
    height: 200px;
    width: 80%;
    resize: none;
    padding: 5px 12px;
    border: none;
    outline: none;
    color: #F5F5DC;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: #00707fbe;

}

::placeholder {
    color: #f5f5dcc3;
}

.sendMessageBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* For desktop view */
@media (min-width: 1024px) {
    .gallery-wrapper .gallery {
        width: 900px;
    }

    .gallery-wrapper .gallery span {
        flex: 0 0 33.33%;
    }
}

/* image slider media queries */
@media (max-width: 1023px) {

    .gallery-wrapper .gallery {
        width: 600px;
        /* Adjust as needed */
    }

    .gallery-wrapper .gallery span {
        flex: 0 0 50%;
        /* Show two images in a row */
    }
}

/* For mobile view */
@media (max-width: 767px) {
    .gallery-wrapper .gallery {
        width: 300px;
        /* Adjust as needed */
        overflow-x: auto;
        /* Allow horizontal scrolling */
    }

    .gallery-wrapper .gallery span {
        flex: 0 0 100%;
        /* Show a single image in a row */
    }
}





/* Media Queries */
@media only screen and (max-width:992px) {
    .homeContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;

    }

    .homeContent {
        text-align: center;
    }

    .profileContainer {
        width: 500px;
    }

    .gallery {
        width: 100%;
        display: flex;
        overflow-x: scroll;
    }

    .gallery div {
        width: 100%;
        display: grid;
        flex: none;
        gap: 20px;
        margin: 0 10px;
    }

}

@media only screen and (max-width:768px) {

    .contactBtn {
        display: none;
    }

    .navLinksContainer {
        width: 100%;
        position: absolute;
        top: -200%;
        left: 0;
        display: block;
        opacity: 0%;
        text-align: center;
        backdrop-filter: blur(5px) saturate(200%);
        -webkit-backdrop-filter: blur(5px) saturate(200%);
        background-color: rgba(30, 25, 25, 0.65);
        transition: all .3s;
    }

    .navUtilityClass {
        top: 100%;
        opacity: 100%;
    }

    .navLinksContainer li {
        display: block;
        width: 40%;
        margin: 25px auto;
    }

    .navLinksContainer li a {
        display: block;
    }

    .navToggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homeContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 5% 0%;
    }

    .profileContainer {
        max-width: 100%;
    }

    .profileContainer img {
        width: 70%;
        display: block;
        margin: auto;
    }

    .homeContent {
        padding: 3% 5%;
        text-align: center;
    }

    #home {
        height: 100%;
    }

    #projects {
        margin-top: 130px;
    }

    .projectsContainer {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
    }


    .testimonialContainer {
        max-width:100%;
        gap: 0px;
    }

    .testimonialItem{
        flex: 0 50% 100%;
    }

    .formContainer {
        display: grid;
        grid-template-columns: auto;
        place-items: center;
    }

    .forwardBtn,.previousBtn{
        width:40px;
        height:40px;
    }

    

    .leftForm {
        align-items: center;

    }

    .leftForm input {
        width: 100%;
    }

    .rightForm {
        justify-content: center;
    }

    .rightForm textarea {
        width: 100%;
    }

    gallery-wrapper gallery {
        max-width: 100%;
        /* Add this line to make the gallery responsive */
        width: auto;
        /* Remove the width property */
        overflow-x: hidden;
        /* Hide horizontal scrollbar */
    }
/* 
    #nextBtn,
    #backBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
 */
}
